
.right-col
{
background-color:#ECF0F5;
}
.container
{
    background-color:#FEFEFE;
}
.para-holder
{
    /* position: relative;
    top:150px; */
    color:#4682B4;
    font-weight:bold;
  
}
.form-holder
{
  
    width:80%;
    border-radius:0px;
    font-size:5px;
}
.col ul
{
list-style:none;
position: relative;
top:10%;
/* text-align: center; */
}

.form-select
{
    height:60px;
    border-radius:0px;
}
.form-email-holder
{
    height:60px;
    border-radius:0px;
    width:80%;
    border-radius:0px;
    position: relative;
    left:10%;

}
.Remeber
{
    font-size:15px;
    position: relative;
    left:35px;
    top:10px;
}
.form-check
{

    color:gray;

}
.form-check-input
{
    
    width:30px;
    height:30px;
    border:2px solid gray;
    position: relative;
    left:30px;
   
}
.text-sm-center
{
    color: #4682B4;
    font-weight:bold;
   
   
}
.btn-primary
{
    
    position: relative; 
    width:180px;
    height:55px;
    left:220px;
    background-color: #286090;
    bottom:10px;
}
.btn-primary:hover
{
    background-color: #193958;
}
.form-check  ul
{
    display: flex;
    border-bottom:1px solid rgb(184, 183, 183);
}
.forgetpassword ul
{
display: flex;
}
.forgetpasswor 
{
    font-size:15px;
    font-weight: 100;
    


}
 a:hover{
    color: inherit; 
   
}

.forgetpassword img{
    position: relative;
    top:20px;
    position: relative;
    left:70px;
    height:100px;
    width:150px;
}
.right
{
    position: relative;
    left:100px;
}
.col p
{
  text-align: center;
}